<div class="body">
  <div class="main">
    <div class="options">
      <div class="plantas">
        <label for="plantSelect">Select Plant:</label>
        <select id="plantSelect">
          <option value="">Select</option>
          <option value="PLANT N1">PLANT N1</option>
          <option value="PLANT N2">PLANT N2</option>
          <option value="PLANT N3">PLANT N3</option>
          <option value="PLANT N4">PLANT N4</option>
        </select>
      </div>
      <div class="recomendaciones">
        <h1 class="consejos" id="consejos"></h1>
        <p class="mesACargar" id="mesACargar"></p>
      </div>
      <div class="secondContainer">
        <div>
          <input type="file" id="fileUpload" class="file-upload" />
        </div>
        <div>
          <button id="submitButton" class="submit-button">
            <div class="textContainer">
              <span class="text">submit</span>
              <span class="text">sumbit</span>
            </div>
          </button>
        </div>
        <div class="datos">
          <p id="fechaCargado"></p>
          <p id="mesCargado"></p>
          <p id="añoCargado"></p>
        </div>
      </div>
    </div>
    <div class="charts-container">
      <div class="chart-container">
        <canvas id="dailyChart"></canvas>
      </div>
    </div>
  </div>
  <div class="commingsoon">
    <div class="plantas">
      <label for="plantSelect">Select Plant:</label>
      <select id="plantSelectPvsyst">
        <option value="">Select</option>
        <option value="PLANT N1">PLANT N1</option>
        <option value="PLANT N2">PLANT N2</option>
        <option value="PLANT N3">PLANT N3</option>
        <option value="PLANT N4">PLANT N4</option>
      </select>
    </div>
    <hr />
    <div class="selectYearPvsyst">
      <label for="selectYearPvsyst">Select Year</label>
      <select id="selectYearPvsyst">
        <option value="">Select</option>
        <option value="2018">2018</option>
        <option value="2019">2019</option>
        <option value="2020">2020</option>
        <option value="2021">2021</option>
        <option value="2022">2022</option>
        <option value="2023">2023</option>
        <option value="2024">2024</option>
        <option value="2025">2025</option>
        <option value="2026">2026</option>
        <option value="2027">2027</option>
        <option value="2028">2028</option>
      </select>
      <label for="selectYear"></label>
    </div>
    <div class="months">
      <div class="month">
        <h5>January</h5>
        <label for="January"></label>
        <input type="text" id="January" placeholder="Estimated" />
      </div>
      <div class="month">
        <h5>February</h5>
        <label for="February"></label>
        <input type="text" id="February" placeholder="Estimated" />
      </div>
      <div class="month">
        <h5>March</h5>
        <label for="March"></label>
        <input type="text" id="March" placeholder="Estimated" />
      </div>
      <div class="month">
        <h5>April</h5>
        <label for="April"></label>
        <input type="text" id="April" placeholder="Estimated" />
      </div>
      <div class="month">
        <h5>May</h5>
        <label for="May"></label>
        <input type="text" id="May" placeholder="Estimated" />
      </div>
      <div class="month">
        <h5>June</h5>
        <label for="June"></label>
        <input type="text" id="June" placeholder="Estimated" />
      </div>
      <div class="month">
        <h5>July</h5>
        <label for="July"></label>
        <input type="text" id="July" placeholder="Estimated" />
      </div>
      <div class="month">
        <h5>August</h5>
        <label for="August"></label>
        <input type="text" id="August" placeholder="Estimated" />
      </div>
      <div class="month">
        <h5>September</h5>
        <label for="September"></label>
        <input type="text" id="September" placeholder="Estimated" />
      </div>
      <div class="month">
        <h5>October</h5>
        <label for="October"></label>
        <input type="text" id="October" placeholder="Estimated" />
      </div>
      <div class="month">
        <h5>November</h5>
        <label for="November"></label>
        <input type="text" id="November" placeholder="Estimated" />
      </div>
      <div class="month">
        <h5>December</h5>
        <label for="December"></label>
        <input type="text" id="December" placeholder="Estimated" />
      </div>
      <div>
        <button id="submitPvsyst" class="submit-button">
          <div class="textContainer">
            <span class="text">submit</span>
            <span class="text">submit</span>
          </div>
        </button>
      </div>
    </div>
  </div>
</div>
