<nav class="nav">
  <div class="left-section">
    <div class="links">
      <img class="logo" src="logonegro.png" alt="" />
      <div class="nose">
        <a
          [routerLink]="['/dashboard/carga']"
          class="button"
          [routerLinkActive]="['activebutton']"
          >Carga</a
        >
        <a
          [routerLink]="['/dashboard/historial']"
          class="button"
          [routerLinkActive]="['activebutton']"
          >Historial</a
        >
      </div>
    </div>
    <div class="buttons">
      <img
        src="group-svgrepo-com.svg"
        *ngIf="mostrarBoton"
        [routerLink]="['/dashboard/admin']"
        routerLinkActive="invisible"
        class="admin"
        title="Employees Managment"
      />
      <a
        *ngIf="mostrarBoton"
        [routerLink]="['/inicio/register']"
        routerLinkActive="activebutton"
        class="button right-button"
        >Registrar trabajador</a
      >
    </div>
  </div>
</nav>

<router-outlet></router-outlet>
